
.wp-custom-header {
	position: relative;
}
.wp-custom-header img {
	width:100%;
}

.site-header {
	position:relative;
	background-color:$color__camellia-primary;
}

.site-branding {
	text-align: left;
    padding-left:8%;
    width: 100%;
}
.site-title {
	margin-bottom:.25em;
}

.site-title a {
	color: $color__camellia-white;
	font-size: 2em;
	text-decoration:none;
	line-height:1;
}


.site-description {
	color:$color__camellia-white;
	font-size:1em;
	margin-top:0;
}

 @media all and (min-width: $breakpoint__mobile) {
 	.site-title {
 		margin-bottom:0.67em;
 	}

 	.site-title a { 
 		font-size: 2.25em;
 		line-height:1.5;
 	}
	.site-description {
		font-size: 1.25em;
		margin-top:inherit;
	}
 }