
.wp-custom-header {
	position: relative;
}
.wp-custom-header img {
	width:100%;
}

.site-header {
	position:relative;
}

.site-branding {
	display:block;
	position: absolute;
    bottom: 10%;
    text-align: center;
    width: 100%;
}

.site-title a {
	color: $color__camellia-white;
	font-size: 3em;
}


.site-description {
	color:$color__camellia-white;
	font-size:1.25em;
}