.site-content,
.site-footer {
	padding-right:5%;
	padding-left:5%;
}

.has-post-thumbnail .entry-content {
	background-color:$color__camellia-white;
	margin-top: -10%;
	position: relative;
	padding: 0 2%;
	width:90%;
	margin-right:5%;
	margin-left:5%;
}
.entry-footer {
	padding:0 2%;
	width:90%;
	margin-right:5%;
	margin-left:5%;	
}


.entry-title{
	font-size:1.75em;
	margin-top:0.5em;
	margin-bottom:0;
	a {
		color:$color__camellia-primary;
		text-decoration:none;
	}
}



.entry-meta {
	width: 100%;
	margin-top:0.25em;
    padding-bottom: 10px;
    border-bottom: solid 1px $color__camellia-gray-light;
	a {
		color:$color__camellia-gray-medium;
		text-decoration:none;
	}
}

.cat-links {
	padding-right: 0.75em;
	border-right: 1px solid $color__camellia-gray-light;
}


.posted-on {
	padding-left:0.75em;
}

.site-footer {
	text-align:center;
}



.content-area {
	float: left;
	margin: 0 -25% 0 0;
	padding:0 5% 0 0;
	width: 100%;
}
.site-main {
	margin: 0 25% 0 0;
}
.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: 25%;
}
.site-footer {
	// clear: both;
	// width: 100%;
}

.no-sidebar .content-area {
	// float: none;
	// margin-left: auto;
	// margin-right: auto;
}
.no-sidebar .site-main {
	// margin-right: 0;
}

@import "header";
@import "no-sidebar";
