.site-content {
	padding-right:5%;
	padding-left:5%;
	max-width:$container__max-width;
	margin-left:auto;
	margin-right:auto;
}

.site-info-theme {
	display:block;
	clear:both;
}

.site-footer {
	padding-right:5%;
	padding-left:5%;
}
.site-footer .sep {
	display:none;
	clear:both;
}

.site-info {
    padding: 0 2em;
}
@media all and (min-width: $breakpoint__mobile) {
	.site-footer .sep {
		display:inline;
	}
	.site-info-theme {
		clear:none;
		display:inline;
	}
}

.has-post-thumbnail .entry-content {
	background-color:$color__camellia-white;
	margin-top: -10%;
	position: relative;
	padding: 0 2%;
	width:90%;
	margin-right:5%;
	margin-left:5%;
}

.has-post-thumbnail .entry-footer {
	padding: 0 2%;
	width:90%;
	margin-right:5%;
	margin-left:5%;	
}

.entry-content {
	background-color:$color__camellia-white;
	position: relative;
	// padding: 0 2%;
}

.entry-footer {
	// padding:0 2%;
}


.entry-title{
	font-size:1.75em;
	margin-top:0.5em;
	margin-bottom:0;
	a {
		color:$color__camellia-primary;
		text-decoration:none;
	}
}



.entry-meta {
	width: 100%;
	margin-top:0.25em;
    padding-bottom: 10px;
    border-bottom: solid 1px $color__camellia-gray-light;
	a {
		color:$color__camellia-gray-medium;
		text-decoration:none;
	}
}

.cat-links {
	padding-right: 0.75em;
	border-right: 1px solid $color__camellia-gray-light;
}

.edit-link {
	padding-left: 0.75em;
}

.posted-on {
	padding-left:0.75em;
}

.site-footer {
	text-align:center;
}



.site-content {
	display:flex;
	flex-flow: row wrap;
	margin-top:2.5em;
}

.content-area {
	flex: 1 100%;
}

.widget-area {
	flex: 1 100%;
	margin-bottom:3em;
}

@media all and (min-width: $breakpoint__mobile) {
  /* We tell both sidebars to share a row */
  .widget-area { 
  	flex: 2;
  	margin-bottom:0;
  }
}

@media all and (min-width: $breakpoint__mobile) {
  .content-area { 
  	flex: 5;
  }
}

@import "header";
@import "footer";
@import "no-sidebar";
