.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
// .entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


.post {
	margin-bottom: 6em;
    border-bottom: 1px solid $color__camellia_secondary;
    padding-bottom: 6em;
}

.archive-description {
	color:$color__camellia_gray-medium;
	font-variant:italics;
	font-size:1.25em;
}