.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
// .entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


.post {
	margin-bottom: 3em;
    border-bottom: 1px solid $color__camellia_secondary;
    padding-bottom: 4em;
}

.post-thumbnail img {
	width:100%;
	margin-top:0.5em;
}

.archive-description {
	color:$color__camellia_gray-medium;
	font-style: italic;
    font-size: .6em;
}

blockquote {
	text-align:center;
	margin: 0 2em;
	color: #17213d;
	font-size: 1.5em;
}
blockquote cite {
   color: $color__camellia_gray-medium;
    font-size: .85em;
}